/*
 * Custom styles for the UW Single Page Home content type
*/
.field-name-field-sph-event-date .field-add-more-submit {
  display: none;
}
.field-name-field-sph-generic-event-date .field-add-more-submit {
  display: none;
}
.node-type-uw-ct-single-page-home .paragraphs-items-field-sph-quicklink-full {
  align-items: flex-start;
}
.field-name-field-sph-navigation-icon .text-format-wrapper {
  display: none;
}
